<div>
  <button mat-raised-button color="primary" (click)="onCRUClick('create')">Create</button>
</div>

<div *ngIf="{
    books: books$ | async,
    isLoading: isLoading$ | async
  } as data" class="mat-elevation-z8"
>
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <!-- <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container> -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="whyRead">
      <th mat-header-cell *matHeaderCellDef> Why Read </th>
      <td mat-cell *matCellDef="let element"> {{element.whyRead}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="onCRUClick('view', element)">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="onCRUClick('update', element)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDeleteClick(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        <div class="flex justify-center items-center h-20">
          <p class="text-lg text-gray-500">No data available</p>
        </div>
      </td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
