<div>
  <h2>Mode: {{ mode }}</h2>
  <h2>ID: {{ id }}</h2>
</div>

<form *ngIf="bookForm" [formGroup]="bookForm" class="max-w-xl mx-auto bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
  <!--
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="id">
      Book ID
    </label>
    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="id" type="text" formControlName="id" placeholder="Book ID">
  </div>
  -->
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
      Book Name
    </label>
    <input [readonly]="mode === 'view'" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" formControlName="name" placeholder="Book Name">
  </div>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="whyRead">
      Why Read This Book?
    </label>
    <textarea [readonly]="mode === 'view'" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="whyRead" formControlName="whyRead" placeholder="Why Read This Book?"></textarea>
  </div>
  <div *ngIf="chapters.length ?? 0 !== 0" formArrayName="chapters">
    <!-- chapters?.controls -->
    <div *ngFor="let chapter of chapters.controls; let i = index" class="mb-4 border p-4 rounded">
      <ng-container [formGroupName]="i">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" [for]="'title' + i">
            Chapter Title
          </label>
          <input
            [readonly]="mode === 'view'"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            [id]="'title' + i"
            type="text"
            formControlName="title"
            placeholder="Chapter Title"
          >
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" [for]="'what' + i">
            What
          </label>
          <input
            [readonly]="mode === 'view'"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            [id]="'what' + i"
            type="text"
            formControlName="what"
            placeholder="What"
          >
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" [for]="'how' + i">
            How
          </label>
          <input
            [readonly]="mode === 'view'"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            [id]="'how' + i"
            type="text"
            formControlName="how"
            placeholder="How"
          >
        </div>

        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" [for]="'whyRead' + i">
            why Read
          </label>
          <input
            [readonly]="mode === 'view'"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            [id]="'whyRead' + i"
            type="text"
            formControlName="whyRead"
            placeholder="Why Read"
          >
        </div>

        <button type="button" [disabled]="mode === 'view'" (click)="removeChapter(i)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Remove Chapter</button>
      </ng-container>
    </div>
  </div>
  <button type="button" [disabled]="mode === 'view'" (click)="addChapter()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add Chapter</button>
  <div class="flex items-center justify-between mt-4">
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" (click)="onSubmit()">
      {{ textSubmit }}
    </button>
  </div>
</form>
