<div class="flex justify-center items-center h-screen bg-gray-100">
  <form class="p-8 bg-white shadow-md rounded-lg" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h2 class="text-2xl mb-6">Login</h2>
    <mat-form-field class="w-full">
      <input matInput placeholder="Email" formControlName="email">
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Invalid email format</mat-error>
    </mat-form-field>
    <mat-form-field class="w-full">
      <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
    </mat-form-field>
    <button class="mr-2" mat-raised-button color="primary" type="submit">{{ isLoginMode ? 'Login' : 'Sign-up' }}</button>
    <button mat-raised-button color="primary" type="submit" (click)="isLoginMode = !isLoginMode">{{ !isLoginMode ? 'Switch to Login' : 'Switch to Sign-up' }}</button>
  </form>
</div>
