<div class="expandable-container">
  <mat-accordion>
    {{ panelOpenState }}
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Expandable Table with Paginator
        </mat-panel-title>
        <mat-panel-description>
          Click to expand and see the table
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <!-- <rls-pagination :current-page="currentPage" :table-paging="tablePaging" @input="fetchNextPage" /> -->
      <app-paginator [paging]="paging"
        (pageChange)="handlePageChange($event)"
        [pageSizeOptions]="[5, 10, 20]"
        [disabled]="false"
      >
      </app-paginator>

      <button class="button-primary">Hello</button>
      <button class="button-secondary">Hello</button>
      <div class="font-sans text-gray-dark ">
        This text uses the Graphik sans-serif font.
      </div>
      <div class="font-serif text-gray-dark">
        This text uses the Merriweather serif font.
      </div>
      <div class="bg-blue-500 text-white p-4">
        This is a blue background with white text.
      </div>
      <div class="bg-purple text-white p-4">
        This is a purple background with white text.
      </div>
      <div class="bg-pink text-white p-4">
        This is a pink background with white text.
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
